<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="baseClassSearchXml" value="true" />
        <option name="methodNameForProjectList">
          <list>
            <option value="findByAll" />
          </list>
        </option>
      </ProjectProfile>
    </option>
  </component>
</project>